In [2]:
# Import, change module names
import numpy as np
import pandas as pd

# import the uci Molecular Biology (Promoter Gene Sequences) Data Set
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/molecular-biology/promoter-gene-sequences/promoters.data'
names = ['Class', 'id', 'Sequence']
df = pd.read_csv(url, names = names)

In [3]:
df.head()

  Class         id                                           Sequence
0     +        S10  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
1     +       AMPC  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
2     +       AROH  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
3     +      DEOP2  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...
4     +  LEU1_TRNA  \ttcgataattaactattgacgaaaagctgaaaaccactagaatgc...

In [5]:
df['Class'].nunique()

2

In [6]:
df.shape

(106, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Class     106 non-null    object
 1   id        106 non-null    object
 2   Sequence  106 non-null    object
dtypes: object(3)
memory usage: 2.6+ KB

In [8]:
df.describe()

       Class    id                                           Sequence
count    106   106                                                106
unique     2   106                                                106
top        -    93  \ttttatatttttcgcttgtcaggccggaataactccctataatgc...
freq      53     1                                                  1

In [11]:
classes = df.loc[:,'Class']

In [12]:
classes

0      +
1      +
2      +
3      +
4      +
      ..
101    -
102    -
103    -
104    -
105    -
Name: Class, Length: 106, dtype: object

In [14]:
sequences = df.loc[:,'Sequence']
dataset = {}

for i, seq in enumerate(sequences):
    nucleotides = list(seq)
    nucleotides = [x for x in nucleotides if x != '\t']
    nucleotides.append(classes[i])
    dataset[i] = nucleotides
    
print(dataset)

{0: ['t', 'a', 'c', 't', 'a', 'g', 'c', 'a', 'a', 't', 'a', 'c', 'g', 'c', 't', 't', 'g', 'c', 'g', 't', 't', 'c', 'g', 'g', 't', 'g', 'g', 't', 't', 'a', 'a', 'g', 't', 'a', 't', 'g', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'g', 'g', 'g', 'c', 't', 't', 'g', 't', 'c', 'g', 't', '+'], 1: ['t', 'g', 'c', 't', 'a', 't', 'c', 'c', 't', 'g', 'a', 'c', 'a', 'g', 't', 't', 'g', 't', 'c', 'a', 'c', 'g', 'c', 't', 'g', 'a', 't', 't', 'g', 'g', 't', 'g', 't', 'c', 'g', 't', 't', 'a', 'c', 'a', 'a', 't', 'c', 't', 'a', 'a', 'c', 'g', 'c', 'a', 't', 'c', 'g', 'c', 'c', 'a', 'a', '+'], 2: ['g', 't', 'a', 'c', 't', 'a', 'g', 'a', 'g', 'a', 'a', 'c', 't', 'a', 'g', 't', 'g', 'c', 'a', 't', 't', 'a', 'g', 'c', 't', 't', 'a', 't', 't', 't', 't', 't', 't', 't', 'g', 't', 't', 'a', 't', 'c', 'a', 't', 'g', 'c', 't', 'a', 'a', 'c', 'c', 'a', 'c', 'c', 'c', 'g', 'g', 'c', 'g', '+'], 3: ['a', 'a', 't', 't', 'g', 't', 'g', 'a', 't', 'g', 't', 'g', 't', 'a', 't', 'c', 'g', 'a', 'a', 'g', 't', 'g', 't', 'g', 't', 't', 'g', 'c', 'g', 'g', 'a', 'g', 't', 'a', 'g', 'a', 't', 'g', 't', 't', 'a', 'g', 'a', 'a', 't', 'a', 'c', 't', 'a', 'a', 'c', 'a', 'a', 'a', 'c', 't', 'c', '+'], 4: ['t', 'c', 'g', 'a', 't', 'a', 'a', 't', 't', 'a', 'a', 'c', 't', 'a', 't', 't', 'g', 'a', 'c', 'g', 'a', 'a', 'a', 'a', 'g', 'c', 't', 'g', 'a', 'a', 'a', 'a', 'c', 'c', 'a', 'c', 't', 'a', 'g', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'c', 't', 'c', 'c', 'g', 't', 'g', 'g', 't', 'a', 'g', '+'], 5: ['a', 'g', 'g', 'g', 'g', 'c', 'a', 'a', 'g', 'g', 'a', 'g', 'g', 'a', 't', 'g', 'g', 'a', 'a', 'a', 'g', 'a', 'g', 'g', 't', 't', 'g', 'c', 'c', 'g', 't', 'a', 't', 'a', 'a', 'a', 'g', 'a', 'a', 'a', 'c', 't', 'a', 'g', 'a', 'g', 't', 'c', 'c', 'g', 't', 't', 't', 'a', 'g', 'g', 't', '+'], 6: ['c', 'a', 'g', 'g', 'g', 'g', 'g', 't', 'g', 'g', 'a', 'g', 'g', 'a', 't', 't', 't', 'a', 'a', 'g', 'c', 'c', 'a', 't', 'c', 't', 'c', 'c', 't', 'g', 'a', 't', 'g', 'a', 'c', 'g', 'c', 'a', 't', 'a', 'g', 't', 'c', 'a', 'g', 'c', 'c', 'c', 'a', 't', 'c', 'a', 't', 'g', 'a', 'a', 't', '+'], 7: ['t', 't', 't', 'c', 't', 'a', 'c', 'a', 'a', 'a', 'a', 'c', 'a', 'c', 't', 't', 'g', 'a', 't', 'a', 'c', 't', 'g', 't', 'a', 't', 'g', 'a', 'g', 'c', 'a', 't', 'a', 'c', 'a', 'g', 't', 'a', 't', 'a', 'a', 't', 't', 'g', 'c', 't', 't', 'c', 'a', 'a', 'c', 'a', 'g', 'a', 'a', 'c', 'a', '+'], 8: ['c', 'g', 'a', 'c', 't', 't', 'a', 'a', 't', 'a', 't', 'a', 'c', 't', 'g', 'c', 'g', 'a', 'c', 'a', 'g', 'g', 'a', 'c', 'g', 't', 'c', 'c', 'g', 't', 't', 'c', 't', 'g', 't', 'g', 't', 'a', 'a', 'a', 't', 'c', 'g', 'c', 'a', 'a', 't', 'g', 'a', 'a', 'a', 't', 'g', 'g', 't', 't', 't', '+'], 9: ['t', 't', 't', 't', 'a', 'a', 'a', 't', 't', 't', 'c', 'c', 't', 'c', 't', 't', 'g', 't', 'c', 'a', 'g', 'g', 'c', 'c', 'g', 'g', 'a', 'a', 't', 'a', 'a', 'c', 't', 'c', 'c', 'c', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'c', 'a', 'c', 'c', 'a', 'c', 't', 'g', 'a', 'c', 'a', '+'], 10: ['g', 'c', 'a', 'a', 'a', 'a', 'a', 't', 'a', 'a', 'a', 't', 'g', 'c', 't', 't', 'g', 'a', 'c', 't', 'c', 't', 'g', 't', 'a', 'g', 'c', 'g', 'g', 'g', 'a', 'a', 'g', 'g', 'c', 'g', 't', 'a', 't', 't', 'a', 't', 'g', 'c', 'a', 'c', 'a', 'c', 'c', 'c', 'c', 'g', 'c', 'g', 'c', 'c', 'g', '+'], 11: ['c', 'c', 't', 'g', 'a', 'a', 'a', 't', 't', 'c', 'a', 'g', 'g', 'g', 't', 't', 'g', 'a', 'c', 't', 'c', 't', 'g', 'a', 'a', 'a', 'g', 'a', 'g', 'g', 'a', 'a', 'a', 'g', 'c', 'g', 't', 'a', 'a', 't', 'a', 't', 'a', 'c', 'g', 'c', 'c', 'a', 'c', 'c', 't', 'c', 'g', 'c', 'g', 'a', 'c', '+'], 12: ['g', 'a', 't', 'c', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 't', 'a', 'c', 't', 't', 'g', 't', 'g', 'c', 'a', 'a', 'a', 'a', 'a', 'a', 't', 't', 'g', 'g', 'g', 'a', 't', 'c', 'c', 'c', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'c', 't', 'c', 'c', 'g', 't', 't', 'g', 'a', 'g', 'a', '+'], 13: ['c', 't', 'g', 'c', 'a', 'a', 't', 't', 't', 't', 't', 'c', 't', 'a', 't', 't', 'g', 'c', 'g', 'g', 'c', 'c', 't', 'g', 'c', 'g', 'g', 'a', 'g', 'a', 'a', 'c', 't', 'c', 'c', 'c', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'c', 't', 'c', 'c', 'a', 't', 'c', 'g', 'a', 'c', 'a', '+'], 14: ['t', 't', 't', 'a', 't', 'a', 't', 't', 't', 't', 't', 'c', 'g', 'c', 't', 't', 'g', 't', 'c', 'a', 'g', 'g', 'c', 'c', 'g', 'g', 'a', 'a', 't', 'a', 'a', 'c', 't', 'c', 'c', 'c', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'c', 'a', 'c', 'c', 'a', 'c', 't', 'g', 'a', 'c', 'a', '+'], 15: ['a', 'a', 'g', 'c', 'a', 'a', 'a', 'g', 'a', 'a', 'a', 't', 'g', 'c', 't', 't', 'g', 'a', 'c', 't', 'c', 't', 'g', 't', 'a', 'g', 'c', 'g', 'g', 'g', 'a', 'a', 'g', 'g', 'c', 'g', 't', 'a', 't', 't', 'a', 't', 'g', 'c', 'a', 'c', 'a', 'c', 'c', 'g', 'c', 'c', 'g', 'c', 'g', 'c', 'c', '+'], 16: ['a', 't', 'g', 'c', 'a', 't', 't', 't', 't', 't', 'c', 'c', 'g', 'c', 't', 't', 'g', 't', 'c', 't', 't', 'c', 'c', 't', 'g', 'a', 'g', 'c', 'c', 'g', 'a', 'c', 't', 'c', 'c', 'c', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'c', 't', 'c', 'c', 'a', 't', 'c', 'g', 'a', 'c', 'a', '+'], 17: ['a', 'a', 'a', 'c', 'a', 'a', 't', 't', 't', 'c', 'a', 'g', 'a', 'a', 't', 'a', 'g', 'a', 'c', 'a', 'a', 'a', 'a', 'a', 'c', 't', 'c', 't', 'g', 'a', 'g', 't', 'g', 't', 'a', 'a', 't', 'a', 'a', 't', 'g', 't', 'a', 'g', 'c', 'c', 't', 'c', 'g', 't', 'g', 't', 'c', 't', 't', 'g', 'c', '+'], 18: ['t', 'c', 't', 'c', 'a', 'a', 'c', 'g', 't', 'a', 'a', 'c', 'a', 'c', 't', 't', 't', 'a', 'c', 'a', 'g', 'c', 'g', 'g', 'c', 'g', 'c', 'g', 't', 'c', 'a', 't', 't', 't', 'g', 'a', 't', 'a', 't', 'g', 'a', 't', 'g', 'c', 'g', 'c', 'c', 'c', 'c', 'g', 'c', 't', 't', 'c', 'c', 'c', 'g', '+'], 19: ['g', 'c', 'a', 'a', 'a', 't', 'a', 'a', 't', 'c', 'a', 'a', 't', 'g', 't', 'g', 'g', 'a', 'c', 't', 't', 't', 't', 'c', 't', 'g', 'c', 'c', 'g', 't', 'g', 'a', 't', 't', 'a', 't', 'a', 'g', 'a', 'c', 'a', 'c', 't', 't', 't', 't', 'g', 't', 't', 'a', 'c', 'g', 'c', 'g', 't', 't', 't', '+'], 20: ['g', 'a', 'c', 'a', 'c', 'c', 'a', 't', 'c', 'g', 'a', 'a', 't', 'g', 'g', 'c', 'g', 'c', 'a', 'a', 'a', 'a', 'c', 'c', 't', 't', 't', 'c', 'g', 'c', 'g', 'g', 't', 'a', 't', 'g', 'g', 'c', 'a', 't', 'g', 'a', 't', 'a', 'g', 'c', 'g', 'c', 'c', 'c', 'g', 'g', 'a', 'a', 'g', 'a', 'g', '+'], 21: ['a', 'a', 'a', 'a', 'a', 'c', 'g', 't', 'c', 'a', 't', 'c', 'g', 'c', 't', 't', 'g', 'c', 'a', 't', 't', 'a', 'g', 'a', 'a', 'a', 'g', 'g', 't', 't', 't', 'c', 't', 'g', 'g', 'c', 'c', 'g', 'a', 'c', 'c', 't', 't', 'a', 't', 'a', 'a', 'c', 'c', 'a', 't', 't', 'a', 'a', 't', 't', 'a', '+'], 22: ['t', 'c', 't', 'g', 'a', 'a', 'a', 't', 'g', 'a', 'g', 'c', 't', 'g', 't', 't', 'g', 'a', 'c', 'a', 'a', 't', 't', 'a', 'a', 't', 'c', 'a', 't', 'c', 'g', 'a', 'a', 'c', 't', 'a', 'g', 't', 't', 'a', 'a', 'c', 't', 'a', 'g', 't', 'a', 'c', 'g', 'c', 'a', 'a', 'g', 't', 't', 'c', 'a', '+'], 23: ['a', 'c', 'c', 'g', 'g', 'a', 'a', 'g', 'a', 'a', 'a', 'a', 'c', 'c', 'g', 't', 'g', 'a', 'c', 'a', 't', 't', 't', 't', 'a', 'a', 'c', 'a', 'c', 'g', 't', 't', 't', 'g', 't', 't', 'a', 'c', 'a', 'a', 'g', 'g', 't', 'a', 'a', 'a', 'g', 'g', 'c', 'g', 'a', 'c', 'g', 'c', 'c', 'g', 'c', '+'], 24: ['a', 'a', 'a', 't', 't', 'a', 'a', 'a', 'a', 't', 't', 't', 't', 'a', 't', 't', 'g', 'a', 'c', 't', 't', 'a', 'g', 'g', 't', 'c', 'a', 'c', 't', 'a', 'a', 'a', 't', 'a', 'c', 't', 't', 't', 'a', 'a', 'c', 'c', 'a', 'a', 't', 'a', 't', 'a', 'g', 'g', 'c', 'a', 't', 'a', 'g', 'c', 'g', '+'], 25: ['t', 't', 'g', 't', 'c', 'a', 't', 'a', 'a', 't', 'c', 'g', 'a', 'c', 't', 't', 'g', 't', 'a', 'a', 'a', 'c', 'c', 'a', 'a', 'a', 't', 't', 'g', 'a', 'a', 'a', 'a', 'g', 'a', 't', 't', 't', 'a', 'g', 'g', 't', 't', 't', 'a', 'c', 'a', 'a', 'g', 't', 'c', 't', 'a', 'c', 'a', 'c', 'c', '+'], 26: ['c', 'a', 't', 'c', 'c', 't', 'c', 'g', 'c', 'a', 'c', 'c', 'a', 'g', 't', 'c', 'g', 'a', 'c', 'g', 'a', 'c', 'g', 'g', 't', 't', 't', 'a', 'c', 'g', 'c', 't', 't', 't', 'a', 'c', 'g', 't', 'a', 't', 'a', 'g', 't', 'g', 'g', 'c', 'g', 'a', 'c', 'a', 'a', 't', 't', 't', 't', 't', 't', '+'], 27: ['t', 'c', 'c', 'a', 'g', 't', 'a', 't', 'a', 'a', 't', 't', 't', 'g', 't', 't', 'g', 'g', 'c', 'a', 't', 'a', 'a', 't', 't', 'a', 'a', 'g', 't', 'a', 'c', 'g', 'a', 'c', 'g', 'a', 'g', 't', 'a', 'a', 'a', 'a', 't', 't', 'a', 'c', 'a', 't', 'a', 'c', 'c', 't', 'g', 'c', 'c', 'c', 'g', '+'], 28: ['a', 'c', 'a', 'g', 't', 't', 'a', 't', 'c', 'c', 'a', 'c', 't', 'a', 't', 't', 'c', 'c', 't', 'g', 't', 'g', 'g', 'a', 't', 'a', 'a', 'c', 'c', 'a', 't', 'g', 't', 'g', 't', 'a', 't', 't', 'a', 'g', 'a', 'g', 't', 't', 'a', 'g', 'a', 'a', 'a', 'a', 'c', 'a', 'c', 'g', 'a', 'g', 'g', '+'], 29: ['t', 'g', 't', 'g', 'c', 'a', 'g', 't', 't', 't', 'a', 't', 'g', 'g', 't', 't', 'c', 'c', 'a', 'a', 'a', 'a', 't', 'c', 'g', 'c', 'c', 't', 't', 't', 't', 'g', 'c', 't', 'g', 't', 'a', 't', 'a', 't', 'a', 'c', 't', 'c', 'a', 'c', 'a', 'g', 'c', 'a', 't', 'a', 'a', 'c', 't', 'g', 't', '+'], 30: ['c', 't', 'g', 't', 't', 'g', 't', 't', 'c', 'a', 'g', 't', 't', 't', 't', 't', 'g', 'a', 'g', 't', 't', 'g', 't', 'g', 't', 'a', 't', 'a', 'a', 'c', 'c', 'c', 'c', 't', 'c', 'a', 't', 't', 'c', 't', 'g', 'a', 't', 'c', 'c', 'c', 'a', 'g', 'c', 't', 't', 'a', 't', 'a', 'c', 'g', 'g', '+'], 31: ['a', 't', 't', 'a', 'c', 'a', 'a', 'a', 'a', 'a', 'g', 't', 'g', 'c', 't', 't', 't', 'c', 't', 'g', 'a', 'a', 'c', 't', 'g', 'a', 'a', 'c', 'a', 'a', 'a', 'a', 'a', 'a', 'g', 'a', 'g', 't', 'a', 'a', 'a', 'g', 't', 't', 'a', 'g', 't', 'c', 'g', 'c', 'g', 't', 'a', 'g', 'g', 'g', 't', '+'], 32: ['a', 't', 'g', 'c', 'g', 'c', 'a', 'a', 'c', 'g', 'c', 'g', 'g', 'g', 'g', 't', 'g', 'a', 'c', 'a', 'a', 'g', 'g', 'g', 'c', 'g', 'c', 'g', 'c', 'a', 'a', 'a', 'c', 'c', 'c', 't', 'c', 't', 'a', 't', 'a', 'c', 't', 'g', 'c', 'g', 'c', 'g', 'c', 'c', 'g', 'a', 'a', 'g', 'c', 't', 'g', '+'], 33: ['t', 'a', 'a', 'a', 'a', 'a', 'a', 'c', 't', 'a', 'a', 'c', 'a', 'g', 't', 't', 'g', 't', 'c', 'a', 'g', 'c', 'c', 't', 'g', 't', 'c', 'c', 'c', 'g', 'c', 't', 't', 'a', 't', 'a', 'a', 'g', 'a', 't', 'c', 'a', 't', 'a', 'c', 'g', 'c', 'c', 'g', 't', 't', 'a', 't', 'a', 'c', 'g', 't', '+'], 34: ['a', 't', 'g', 'c', 'a', 'a', 't', 't', 't', 't', 't', 't', 'a', 'g', 't', 't', 'g', 'c', 'a', 't', 'g', 'a', 'a', 'c', 't', 'c', 'g', 'c', 'a', 't', 'g', 't', 'c', 't', 'c', 'c', 'a', 't', 'a', 'g', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'g', 'c', 't', 'a', 'c', 't', 't', 'g', 'a', 't', '+'], 35: ['c', 'c', 't', 't', 'g', 'a', 'a', 'a', 'a', 'a', 'g', 'a', 'g', 'g', 't', 't', 'g', 'a', 'c', 'g', 'c', 't', 'g', 'c', 'a', 'a', 'g', 'g', 'c', 't', 'c', 't', 'a', 't', 'a', 'c', 'g', 'c', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'c', 'c', 'c', 'g', 'c', 'a', 'a', 'c', 'g', 'c', '+'], 36: ['t', 'c', 'g', 't', 't', 'g', 't', 'a', 't', 'a', 't', 't', 't', 'c', 't', 't', 'g', 'a', 'c', 'a', 'c', 'c', 't', 't', 't', 't', 'c', 'g', 'g', 'c', 'a', 't', 'c', 'g', 'c', 'c', 'c', 't', 'a', 'a', 'a', 'a', 't', 't', 'c', 'g', 'g', 'c', 'g', 't', 'c', 'c', 't', 'c', 'a', 't', 'a', '+'], 37: ['c', 'c', 'g', 't', 't', 't', 'a', 't', 't', 't', 't', 't', 't', 'c', 't', 'a', 'c', 'c', 'c', 'a', 't', 'a', 't', 'c', 'c', 't', 't', 'g', 'a', 'a', 'g', 'c', 'g', 'g', 't', 'g', 't', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'c', 'g', 'c', 'g', 'c', 'c', 'c', 't', 'c', 'g', 'a', 't', '+'], 38: ['t', 't', 'c', 'g', 'c', 'a', 't', 'a', 't', 't', 't', 't', 't', 'c', 't', 't', 'g', 'c', 'a', 'a', 'a', 'g', 't', 't', 'g', 'g', 'g', 't', 't', 'g', 'a', 'g', 'c', 't', 'g', 'g', 'c', 't', 'a', 'g', 'a', 't', 't', 'a', 'g', 'c', 'c', 'a', 'g', 'c', 'c', 'a', 'a', 't', 'c', 't', 't', '+'], 39: ['t', 'g', 't', 'a', 'a', 'a', 'c', 't', 'a', 'a', 't', 'g', 'c', 'c', 't', 't', 't', 'a', 'c', 'g', 't', 'g', 'g', 'g', 'c', 'g', 'g', 't', 'g', 'a', 't', 't', 't', 't', 'g', 't', 'c', 't', 'a', 'c', 'a', 'a', 't', 'c', 't', 't', 'a', 'c', 'c', 'c', 'c', 'c', 'a', 'c', 'g', 't', 'a', '+'], 40: ['g', 'a', 't', 'c', 'g', 'c', 'a', 'c', 'g', 'a', 't', 'c', 't', 'g', 't', 'a', 't', 'a', 'c', 't', 't', 'a', 't', 't', 't', 'g', 'a', 'g', 't', 'a', 'a', 'a', 't', 't', 'a', 'a', 'c', 'c', 'c', 'a', 'c', 'g', 'a', 't', 'c', 'c', 'c', 'a', 'g', 'c', 'c', 'a', 't', 't', 'c', 't', 't', '+'], 41: ['a', 'a', 'c', 'g', 'c', 'a', 't', 'a', 'c', 'g', 'g', 't', 'a', 't', 't', 't', 't', 'a', 'c', 'c', 't', 't', 'c', 'c', 'c', 'a', 'g', 't', 'c', 'a', 'a', 'g', 'a', 'a', 'a', 'a', 'c', 't', 't', 'a', 't', 'c', 't', 't', 'a', 't', 't', 'c', 'c', 'c', 'a', 'c', 't', 't', 't', 't', 'c', '+'], 42: ['t', 't', 'a', 'g', 'c', 'g', 'g', 'a', 't', 'c', 'c', 't', 'a', 'c', 'c', 't', 'g', 'a', 'c', 'g', 'c', 't', 't', 't', 't', 't', 'a', 't', 'c', 'g', 'c', 'a', 'a', 'c', 't', 'c', 't', 'c', 't', 'a', 'c', 't', 'g', 't', 't', 't', 'c', 't', 'c', 'c', 'a', 't', 'a', 'c', 'c', 'c', 'g', '+'], 43: ['g', 'c', 'c', 't', 't', 'c', 't', 'c', 'c', 'a', 'a', 'a', 'a', 'c', 'g', 't', 'g', 't', 't', 't', 't', 't', 't', 'g', 't', 't', 'g', 't', 't', 'a', 'a', 't', 't', 'c', 'g', 'g', 't', 'g', 't', 'a', 'g', 'a', 'c', 't', 't', 'g', 't', 'a', 'a', 'a', 'c', 'c', 't', 'a', 'a', 'a', 't', '+'], 44: ['c', 'a', 'g', 'a', 'a', 'a', 'c', 'g', 't', 't', 't', 't', 'a', 't', 't', 'c', 'g', 'a', 'a', 'c', 'a', 't', 'c', 'g', 'a', 't', 'c', 't', 'c', 'g', 't', 'c', 't', 't', 'g', 't', 'g', 't', 't', 'a', 'g', 'a', 'a', 't', 't', 'c', 't', 'a', 'a', 'c', 'a', 't', 'a', 'c', 'g', 'g', 't', '+'], 45: ['c', 'a', 'c', 't', 'a', 'a', 't', 't', 't', 'a', 't', 't', 'c', 'c', 'a', 't', 'g', 't', 'c', 'a', 'c', 'a', 'c', 't', 't', 't', 't', 'c', 'g', 'c', 'a', 't', 'c', 't', 't', 't', 'g', 't', 't', 'a', 't', 'g', 'c', 't', 'a', 't', 'g', 'g', 't', 't', 'a', 't', 't', 't', 'c', 'a', 't', '+'], 46: ['a', 't', 'a', 't', 'a', 'a', 'a', 'a', 'a', 'a', 'g', 't', 't', 'c', 't', 't', 'g', 'c', 't', 't', 't', 'c', 't', 'a', 'a', 'c', 'g', 't', 'g', 'a', 'a', 'a', 'g', 't', 'g', 'g', 't', 't', 't', 'a', 'g', 'g', 't', 't', 'a', 'a', 'a', 'a', 'g', 'a', 'c', 'a', 't', 'c', 'a', 'g', 't', '+'], 47: ['c', 'a', 'a', 'g', 'g', 't', 'a', 'g', 'a', 'a', 't', 'g', 'c', 't', 't', 't', 'g', 'c', 'c', 't', 't', 'g', 't', 'c', 'g', 'g', 'c', 'c', 't', 'g', 'a', 't', 't', 'a', 'a', 't', 'g', 'g', 'c', 'a', 'c', 'g', 'a', 't', 'a', 'g', 't', 'c', 'g', 'c', 'a', 't', 'c', 'g', 'g', 'a', 't', '+'], 48: ['g', 'g', 'c', 'c', 'a', 'a', 'a', 'a', 'a', 'a', 't', 'a', 't', 'c', 't', 't', 'g', 't', 'a', 'c', 't', 'a', 't', 't', 't', 'a', 'c', 'a', 'a', 'a', 'a', 'c', 'c', 't', 'a', 't', 'g', 'g', 't', 'a', 'a', 'c', 't', 'c', 't', 't', 't', 'a', 'g', 'g', 'c', 'a', 't', 't', 'c', 'c', 't', '+'], 49: ['t', 'a', 'g', 'g', 'c', 'a', 'c', 'c', 'c', 'c', 'a', 'g', 'g', 'c', 't', 't', 't', 'a', 'c', 'a', 'c', 't', 't', 't', 'a', 't', 'g', 'c', 't', 't', 'c', 'c', 'g', 'g', 'c', 't', 'c', 'g', 't', 'a', 't', 'g', 't', 't', 'g', 't', 'g', 't', 'g', 'g', 'a', 'a', 't', 't', 'g', 't', 'g', '+'], 50: ['c', 'c', 'a', 't', 'c', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 't', 'a', 't', 't', 'c', 't', 'c', 'a', 'a', 'c', 'a', 't', 'a', 'a', 'a', 'a', 'a', 'a', 'c', 't', 't', 't', 'g', 't', 'g', 't', 'a', 'a', 't', 'a', 'c', 't', 't', 'g', 't', 'a', 'a', 'c', 'g', 'c', 't', 'a', 'c', 'a', 't', '+'], 51: ['t', 'g', 'g', 'g', 'g', 'a', 'c', 'g', 't', 'c', 'g', 't', 't', 'a', 'c', 't', 'g', 'a', 't', 'c', 'c', 'g', 'c', 'a', 'c', 'g', 't', 't', 't', 'a', 't', 'g', 'a', 't', 'a', 't', 'g', 'c', 't', 'a', 't', 'c', 'g', 't', 'a', 'c', 't', 'c', 't', 't', 't', 'a', 'g', 'c', 'g', 'a', 'g', '+'], 52: ['t', 'c', 'a', 'g', 'a', 'a', 'a', 't', 'a', 't', 't', 'a', 't', 'g', 'g', 't', 'g', 'a', 't', 'g', 'a', 'a', 'c', 't', 'g', 't', 't', 't', 't', 't', 't', 't', 'a', 't', 'c', 'c', 'a', 'g', 't', 'a', 't', 'a', 'a', 't', 't', 't', 'g', 't', 't', 'g', 'g', 'c', 'a', 't', 'a', 'a', 't', '+'], 53: ['a', 't', 'a', 't', 'g', 'a', 'a', 'c', 'g', 't', 't', 'g', 'a', 'g', 'a', 'c', 't', 'g', 'c', 'c', 'g', 'c', 't', 'g', 'a', 'g', 't', 't', 'a', 't', 'c', 'a', 'g', 'c', 't', 'g', 't', 'g', 'a', 'a', 'c', 'g', 'a', 'c', 'a', 't', 't', 'c', 't', 'g', 'g', 'c', 'g', 't', 'c', 't', 'a', '-'], 54: ['c', 'g', 'a', 'a', 'c', 'g', 'a', 'g', 't', 'c', 'a', 'a', 't', 'c', 'a', 'g', 'a', 'c', 'c', 'g', 'c', 't', 't', 't', 'g', 'a', 'c', 't', 'c', 't', 'g', 'g', 't', 'a', 't', 't', 'a', 'c', 't', 'g', 't', 'g', 'a', 'a', 'c', 'a', 't', 't', 'a', 't', 't', 'c', 'g', 't', 'c', 't', 'c', '-'], 55: ['c', 'a', 'a', 't', 'g', 'g', 'c', 'c', 't', 'c', 't', 'a', 'a', 'a', 'c', 'g', 'g', 'g', 't', 'c', 't', 't', 'g', 'a', 'g', 'g', 'g', 'g', 't', 't', 't', 't', 't', 't', 'g', 'c', 't', 'g', 'a', 'a', 'a', 'g', 'g', 'a', 'g', 'g', 'a', 'a', 'c', 't', 'a', 't', 'a', 't', 'g', 'c', 'g', '-'], 56: ['t', 't', 'g', 'a', 'c', 'c', 't', 'a', 'c', 't', 'a', 'c', 'g', 'c', 'c', 'a', 'g', 'c', 'a', 't', 't', 't', 't', 'g', 'g', 'c', 'g', 'g', 't', 'g', 't', 'a', 'a', 'g', 'c', 't', 'a', 'a', 'c', 'c', 'a', 't', 't', 'c', 'c', 'g', 'g', 't', 't', 'g', 'a', 'c', 't', 'c', 'a', 'a', 't', '-'], 57: ['c', 'g', 't', 'c', 't', 'a', 't', 'c', 'g', 'g', 't', 'g', 'a', 'a', 'c', 'c', 't', 'c', 'c', 'g', 'g', 't', 'a', 't', 'c', 'a', 'a', 'c', 'g', 'c', 't', 'g', 'g', 'a', 'a', 'g', 'g', 't', 'g', 'a', 'c', 'g', 'c', 't', 'a', 'a', 'c', 'g', 'c', 'a', 'g', 'a', 't', 'g', 'c', 'a', 'g', '-'], 58: ['g', 'c', 'c', 'a', 'a', 't', 'c', 'a', 'a', 't', 'c', 'a', 'a', 'g', 'a', 'a', 'c', 't', 't', 'g', 'a', 'a', 'g', 'g', 'g', 't', 'g', 'g', 't', 'a', 't', 'c', 'a', 'g', 'c', 'c', 'a', 'a', 'c', 'a', 'g', 'c', 'c', 't', 'g', 'a', 'c', 'a', 't', 'c', 'c', 't', 't', 'c', 'g', 't', 't', '-'], 59: ['t', 'g', 'g', 'a', 't', 'g', 'g', 'a', 'c', 'g', 't', 't', 'c', 'a', 'a', 'c', 'a', 't', 't', 'g', 'a', 'g', 'g', 'a', 'a', 'g', 'g', 'c', 'a', 't', 'a', 'a', 'c', 'g', 'c', 't', 'a', 'c', 't', 'a', 'c', 'c', 't', 'g', 'a', 't', 'g', 't', 't', 't', 'a', 'c', 't', 'c', 'c', 'a', 'a', '-'], 60: ['g', 'a', 'g', 'g', 't', 'g', 'g', 'c', 't', 'a', 't', 'g', 't', 'g', 't', 'a', 't', 'g', 'a', 'c', 'c', 'g', 'a', 'a', 'c', 'g', 'a', 'g', 't', 'c', 'a', 'a', 't', 'c', 'a', 'g', 'a', 'c', 'c', 'g', 'c', 't', 't', 't', 'g', 'a', 'c', 't', 'c', 't', 'g', 'g', 't', 'a', 't', 't', 'a', '-'], 61: ['c', 'g', 't', 'a', 'g', 'c', 'g', 'c', 'a', 't', 'c', 'a', 'g', 't', 'g', 'c', 't', 't', 't', 'c', 't', 't', 'a', 'c', 't', 'g', 't', 'g', 'a', 'g', 't', 'a', 'c', 'g', 'c', 'a', 'c', 'c', 'a', 'g', 'c', 'g', 'c', 'c', 'a', 'g', 'a', 'g', 'g', 'a', 'c', 'g', 'a', 'c', 'g', 'a', 'c', '-'], 62: ['c', 'g', 'a', 'c', 'c', 'g', 'a', 'a', 'g', 'c', 'g', 'a', 'g', 'c', 'c', 't', 'c', 'g', 't', 'c', 'c', 't', 'c', 'a', 'a', 't', 'g', 'g', 'c', 'c', 't', 'c', 't', 'a', 'a', 'a', 'c', 'g', 'g', 'g', 't', 'c', 't', 't', 'g', 'a', 'g', 'g', 'g', 'g', 't', 't', 't', 't', 't', 't', 'g', '-'], 63: ['c', 't', 'a', 'c', 'g', 'g', 't', 'g', 'g', 'g', 't', 'a', 'c', 'a', 'a', 't', 'a', 't', 'g', 'c', 't', 'g', 'g', 'a', 't', 'g', 'g', 'a', 'g', 'a', 't', 'g', 'c', 'g', 't', 't', 'c', 'a', 'c', 't', 't', 'c', 't', 'g', 'g', 't', 'c', 't', 'a', 'c', 't', 'g', 'a', 'c', 't', 'c', 'g', '-'], 64: ['a', 't', 'a', 'g', 't', 'c', 't', 'c', 'a', 'g', 'a', 'g', 't', 'c', 't', 't', 'g', 'a', 'c', 'c', 't', 'a', 'c', 't', 'a', 'c', 'g', 'c', 'c', 'a', 'g', 'c', 'a', 't', 't', 't', 't', 'g', 'g', 'c', 'g', 'g', 't', 'g', 't', 'a', 'a', 'g', 'c', 't', 'a', 'a', 'c', 'c', 'a', 't', 't', '-'], 65: ['a', 'a', 'c', 't', 'c', 'a', 'a', 'g', 'g', 'c', 't', 'g', 'a', 't', 'a', 'c', 'g', 'g', 'c', 'g', 'a', 'g', 'a', 'c', 't', 't', 'g', 'c', 'g', 'a', 'g', 'c', 'c', 't', 't', 'g', 't', 'c', 'c', 't', 't', 'g', 'c', 'g', 'g', 't', 'a', 'c', 'a', 'c', 'a', 'g', 'c', 'a', 'g', 'c', 'g', '-'], 66: ['t', 't', 'a', 'c', 't', 'g', 't', 'g', 'a', 'a', 'c', 'a', 't', 't', 'a', 't', 't', 'c', 'g', 't', 'c', 't', 'c', 'c', 'g', 'c', 'g', 'a', 'c', 't', 'a', 'c', 'g', 'a', 't', 'g', 'a', 'g', 'a', 't', 'g', 'c', 'c', 't', 'g', 'a', 'g', 't', 'g', 'c', 't', 't', 'c', 'c', 'g', 't', 't', '-'], 67: ['t', 'a', 't', 't', 'c', 't', 'c', 'a', 'a', 'c', 'a', 'a', 'g', 'a', 't', 't', 'a', 'a', 'c', 'c', 'g', 'a', 'c', 'a', 'g', 'a', 't', 't', 'c', 'a', 'a', 't', 'c', 't', 'c

In [15]:
dframe = pd.DataFrame(dataset)

In [16]:
df_new = dframe.transpose()

In [17]:
df_new.head()

  0  1  2  3  4  5  6  7  8  9   ... 48 49 50 51 52 53 54 55 56 57
0  t  a  c  t  a  g  c  a  a  t  ...  g  c  t  t  g  t  c  g  t  +
1  t  g  c  t  a  t  c  c  t  g  ...  c  a  t  c  g  c  c  a  a  +
2  g  t  a  c  t  a  g  a  g  a  ...  c  a  c  c  c  g  g  c  g  +
3  a  a  t  t  g  t  g  a  t  g  ...  a  a  c  a  a  a  c  t  c  +
4  t  c  g  a  t  a  a  t  t  a  ...  c  c  g  t  g  g  t  a  g  +

[5 rows x 58 columns]

In [18]:
df_new.shape

(106, 58)

In [23]:
df_new.rename(columns = {57:'Class'},inplace=True)

In [24]:
df_new

     0  1  2  3  4  5  6  7  8  9  ... 48 49 50 51 52 53 54 55 56 Class
0    t  a  c  t  a  g  c  a  a  t  ...  g  c  t  t  g  t  c  g  t     +
1    t  g  c  t  a  t  c  c  t  g  ...  c  a  t  c  g  c  c  a  a     +
2    g  t  a  c  t  a  g  a  g  a  ...  c  a  c  c  c  g  g  c  g     +
3    a  a  t  t  g  t  g  a  t  g  ...  a  a  c  a  a  a  c  t  c     +
4    t  c  g  a  t  a  a  t  t  a  ...  c  c  g  t  g  g  t  a  g     +
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..   ...
101  c  c  t  c  a  a  t  g  g  c  ...  g  a  a  c  t  a  t  a  t     -
102  g  t  a  t  t  c  t  c  a  a  ...  t  c  a  a  c  a  t  t  g     -
103  c  g  c  g  a  c  t  a  c  g  ...  a  a  g  g  c  t  t  c  c     -
104  c  t  c  g  t  c  c  t  c  a  ...  a  g  g  a  g  g  a  a  c     -
105  t  a  a  c  a  t  t  a  a  t  ...  t  c  a  a  g  a  a  c  t     -

[106 rows x 58 columns]

In [25]:
df_new.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,Class
count,106,106,106,106,106,106,106,106,106,106,...,106,106,106,106,106,106,106,106,106,106
unique,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,2
top,t,a,a,c,a,a,a,a,a,a,...,c,c,c,t,t,c,c,t,t,-
freq,38,34,30,30,36,42,38,34,33,36,...,36,42,31,33,35,32,29,29,34,53

In [34]:
column = df_new.columns

In [37]:
series = []
for name in column:
    series.append((name,df_new[name].value_counts()))

In [38]:
series

[(0,
  t    38
  c    27
  a    26
  g    15
  Name: 0, dtype: int64),
 (1,
  a    34
  t    26
  g    24
  c    22
  Name: 1, dtype: int64),
 (2,
  a    30
  g    28
  t    27
  c    21
  Name: 2, dtype: int64),
 (3,
  c    30
  g    28
  t    26
  a    22
  Name: 3, dtype: int64),
 (4,
  a    36
  g    29
  t    22
  c    19
  Name: 4, dtype: int64),
 (5,
  a    42
  t    24
  g    22
  c    18
  Name: 5, dtype: int64),
 (6,
  a    38
  t    30
  c    21
  g    17
  Name: 6, dtype: int64),
 (7,
  a    34
  t    32
  g    20
  c    20
  Name: 7, dtype: int64),
 (8,
  a    33
  t    32
  c    22
  g    19
  Name: 8, dtype: int64),
 (9,
  a    36
  t    28
  c    22
  g    20
  Name: 9, dtype: int64),
 (10,
  a    38
  t    31
  c    22
  g    15
  Name: 10, dtype: int64),
 (11,
  c    31
  t    29
  g    25
  a    21
  Name: 11, dtype: int64),
 (12,
  t    34
  g    29
  a    29
  c    14
  Name: 12, dtype: int64),
 (13,
  c    38
  a    24
  g    23
  t    21
  Name: 13, dtype: int64),
 (14,
  t    54
  a    23
  g    16
  c    13
  Name: 14, dtype: int64),
 (15,
  t    54
  c    24
  a    17
  g    11
  Name: 15, dtype: int64),
 (16,
  g    53
  t    24
  a    15
  c    14
  Name: 16, dtype: int64),
 (17,
  a    40
  c    29
  g    19
  t    18
  Name: 17, dtype: int64),
 (18,
  c    44
  a    27
  t    23
  g    12
  Name: 18, dtype: int64),
 (19,
  a    31
  g    27
  t    24
  c    24
  Name: 19, dtype: int64),
 (20,
  t    34
  a    28
  g    22
  c    22
  Name: 20, dtype: int64),
 (21,
  a    31
  g    29
  t    26
  c    20
  Name: 21, dtype: int64),
 (22,
  g    30
  t    27
  c    27
  a    22
  Name: 22, dtype: int64),
 (23,
  t    32
  g    29
  a    24
  c    21
  Name: 23, dtype: int64),
 (24,
  t    32
  a    29
  g    24
  c    21
  Name: 24, dtype: int64),
 (25,
  g    34
  t    30
  a    28
  c    14
  Name: 25, dtype: int64),
 (26,
  g    29
  a    28
  c    25
  t    24
  Name: 26, dtype: int64),
 (27,
  t    32
  c    30
  g    27
  a    17
  Name: 27, dtype: int64),
 (28,
  t    35
  g    33
  c    20
  a    18
  Name: 28, dtype: int64),
 (29,
  a    35
  g    26
  c    26
  t    19
  Name: 29, dtype: int64),
 (30,
  a    37
  t    31
  g    21
  c    17
  Name: 30, dtype: int64),
 (31,
  a    31
  g    28
  t    25
  c    22
  Name: 31, dtype: int64),
 (32,
  t    41
  c    24
  a    24
  g    17
  Name: 32, dtype: int64),
 (33,
  t    39
  g    26
  c    22
  a    19
  Name: 33, dtype: int64),
 (34,
  t    27
  c    27
  a    27
  g    25
  Name: 34, dtype: int64),
 (35,
  t    34
  g    26
  c    24
  a    22
  Name: 35, dtype: int64),
 (36,
  t    43
  g    26
  a    20
  c    17
  Name: 36, dtype: int64),
 (37,
  t    32
  a    27
  g    26
  c    21
  Name: 37, dtype: int64),
 (38,
  t    35
  a    34
  c    20
  g    17
  Name: 38, dtype: int64),
 (39,
  a    45
  t    27
  g    21
  c    13
  Name: 39, dtype: int64),
 (40,
  a    41
  t    27
  c    20
  g    18
  Name: 40, dtype: int64),
 (41,
  t    33
  g    27
  c    27
  a    19
  Name: 41, dtype: int64),
 (42,
  t    42
  g    25
  a    22
  c    17
  Name: 42, dtype: int64),
 (43,
  t    36
  c    31
  a    20
  g    19
  Name: 43, dtype: int64),
 (44,
  g    34
  t    29
  a    28
  c    15
  Name: 44, dtype: int64),
 (45,
  c    35
  a    25
  g    24
  t    22
  Name: 45, dtype: int64),
 (46,
  c    31
  a    27
  t    24
  g    24
  Name: 46, dtype: int64),
 (47,
  c    32
  t    27
  a    25
  g    22
  Name: 47, dtype: int64),
 (48,
  c    36
  g    26
  a    23
  t    21
  Name: 48, dtype: int64),
 (49,
  c    42
  a    24
  t    22
  g    18
  Name: 49, dtype: int64),
 (50,
  c    31
  a    28
  g    24
  t    23
  Name: 50, dtype: int64),
 (51,
  t    33
  c    32
  a    27
  g    14
  Name: 51, dtype: int64),
 (52,
  t    35
  g    25
  a    25
  c    21
  Name: 52, dtype: int64),
 (53,
  c    32
  t    30
  g    22
  a    22
  Name: 53, dtype: int64),
 (54,
  c    29
  g    28
  a    26
  t    23
  Name: 54, dtype: int64),
 (55,
  t    29
  c    29
  g    24
  a    24
  Name: 55, dtype: int64),
 (56,
  t    34
  g    28
  a    27
  c    17
  Name: 56, dtype: int64),
 ('Class',
  -    53
  +    53
  Name: Class, dtype: int64)]

In [39]:
df_new = pd.get_dummies(df_new)

In [40]:
df_new

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,Class_+,Class_-
0,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
1,0,0,0,1,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,0
2,0,0,1,0,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
102,0,0,1,0,0,0,0,1,1,0,...,0,0,0,1,0,0,1,0,0,1
103,0,1,0,0,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
104,0,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,0,1
105,0,0,0,1,1,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,1

In [46]:
df_new.drop('Class_-',axis=1,inplace=True)

In [47]:
df_new.rename(columns={'Class_+':'Class'},inplace=True)

In [48]:
df_new

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,54_t,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,Class
0,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,1
1,0,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,1,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
102,0,0,1,0,0,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,0
103,0,1,0,0,0,0,1,0,0,1,...,1,0,1,0,0,0,1,0,0,0
104,0,1,0,0,0,0,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0
105,0,0,0,1,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [49]:
# Use the model_selection module to separate training and testing datasets
from sklearn import model_selection

# Create X and Y datasets for training
X = np.array(df_new.drop(['Class'], 1))
y = np.array(df_new['Class'])

# define seed for reproducibility
seed = 1

# split data into training and testing datasets
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.25, random_state=seed)

In [50]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

# define scoring method
scoring = 'accuracy'

# Define models to train
names = ["Nearest Neighbors", "Gaussian Process",
         "Decision Tree", "Random Forest", "Neural Net", "AdaBoost",
         "Naive Bayes", "SVM Linear", "SVM RBF", "SVM Sigmoid"]

classifiers = [
    KNeighborsClassifier(n_neighbors = 3),
    GaussianProcessClassifier(1.0 * RBF(1.0)),
    DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    MLPClassifier(alpha=1),
    AdaBoostClassifier(),
    GaussianNB(),
    SVC(kernel = 'linear'), 
    SVC(kernel = 'rbf'),
    SVC(kernel = 'sigmoid')
]

models = zip(names, classifiers)

# evaluate each model in turn
results = []
names = []

for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state = seed)
    cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

Nearest Neighbors: 0.823214 (0.113908)
Gaussian Process: 0.873214 (0.056158)

D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

Decision Tree: 0.673214 (0.230357)

D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

Random Forest: 0.700000 (0.195256)

D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

Neural Net: 0.862500 (0.117925)
AdaBoost: 0.912500 (0.112500)
Naive Bayes: 0.837500 (0.137500)
SVM Linear: 0.850000 (0.108972)
SVM RBF: 0.887500 (0.067315)

D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(
D:\AnaConda\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

SVM Sigmoid: 0.900000 (0.093541)

In [55]:
for name, model in models:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(name)
    print(accuracy_score(y_test, predictions))
    print(classification_report(y_test, predictions))